
// Body
$body-bg: #258ec7;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$purple-theme: #281d5f;
$blue-theme: #258ec7;
$yellow-theme: #f3d422;
$orange-theme: #f66c21;
$green-theme: #06a73d;
$red-theme: #e42421;
